Repository F5-Refresh/gameduo, pull requests merged in 2022-07, with the labels that each got.

#12 [전기원] #5 회원가입 구현
  gameduo/settings.py
  gameduo/urls.py
  user/serializers/signup_serializers.py
  user/urls.py
  user/views.py
  user/views/signup_view.py
Labels: develop

#13 [남효정] #4 로그인, 로그아웃, JWT 발급 구현
  gameduo/settings.py
  gameduo/urls.py
  raid/migrations/0001_initial.py
  user/admin.py
  user/migrations/0001_initial.py
  user/models.py
  user/serializers/signin_serializers.py
  user/serializers/signup_serializers.py
  user/urls.py
Labels: develop

#18 [남효정] #4 로그인, 로그아웃, JWT 발급 테스트 코드 작성
  user/tests.py
  user/tests/__init__.py
  user/tests/test_signin.py
Labels: test

#20 [김동규] #11 유저조회 기능 테스트코드 수정
  user/tests/tests_user_search.py
Labels: develop

#17 [전기원] #5 회원가입 테스트 코드 작성
  user/tests/test_signup.py
Labels: test

#25 [김동규] #19 보스레이드 상태조회 기능 구현 및 #22 테스트코드 작성
  .gitignore
  raid/serializers/raid_status_serach_serializers.py
  raid/tests/tests_raid_status_search.py
  raid/urls.py
  raid/views/raid_status_search.py
  user/views.py
Labels: develop, test

#27 [김동규] #3 유저조회 기능 스웨거 설정 수정
  user/views/user_search.py
Labels: develop

#24 [이동연] #8 레이드 전투시작/종료 기능작성
  core/views.py
  gameduo/__init__.py
  gameduo/settings.py
  raid/migrations/0002_remove_raidhistory_raid_status.py
  raid/models.py
  raid/serializers/raid_serializer.py
  raid/tests/test_raid.py
  raid/urls.py
  raid/views/__init__.py
  raid/views/raid_view.py
  requirements.txt
Labels: develop, test

#26 [이동연] #6 레디스 환경구축
  .gitignore
  core/views.py
  docker-compose.yml
  gameduo/__init__.py
  gameduo/settings.py
  gameduo/urls.py
  raid/migrations/0002_remove_raidhistory_raid_status.py
  raid/models.py
  raid/serializers/raid_serializer.py
  raid/serializers/raid_status_serach_serializers.py
  raid/tests.py
  raid/tests/__init__.py
  raid/tests/test_raid.py
  raid/tests/test_raid_ranking.py
  raid/tests/tests_raid_status_search.py
  raid/urls.py
  raid/views.py
  raid/views/__init__.py
  raid/views/raid_ranking.py
  raid/views/raid_status_search.py
  raid/views/raid_view.py
  requirements.txt
Labels: develop, test

#28 [김동규] #22 보스레이드 상태조회 기능 테스트코드 url 수정
  gameduo/settings.py
  raid/serializers/raid_status_serach_serializers.py
  raid/tests/tests_raid_status_search.py
Labels: develop, test

#33 [김동규] 배포를 위한 설정
  config/nginx/nginx.conf
  docker-compose.yml
  dockerfile
  gameduo/__init__.py
  gameduo/settings.py
  requirements.txt
Labels: deploy

#34 [조병민] #32 - ranking 조회 service 로직 변경
  raid/views/raid_ranking.py
Labels: enhancement
